body {
    font-family: Arial, sans-serif;
    background-color: #b76464;
    margin: 0;
}

h2{
    color: #d17272;
}

p1{
    font-size: 16px;
    color: #309680;
    background-color: #2b5dac;
}

